<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>

    <form th:action="@{/note/create}" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="note" placeholder="Note">
        <button type="submit">Add</button>
    </form>


    <h1>Notes:</h1>
    <div th:each="note : ${notes}">
        <a style="width: 100%; height: 20px; text-decoration: none" href="note.html" th:href="@{/note/{NoteId}(NoteId=${note.id})}">
            <span th:text="${note.title}"></span>
            <span th:text="${note.note}"></span>
        </a>
        <br>
    </div>

</body>
</html>